
.iconOuterBorder {
	background-color: #5599bb;
	display: inline-block;
	padding: 5px;
	margin:2px;
}

.iconInnerBorder {
	padding: 5px;
	background-color: white;
}

.drinkIcon {
	width: 65px;
	height: 65px;
}

body {
	text-align: center;
	margin: 0 auto;
}

.ui-btn-inner {
  padding-top: 40px !important;
}

#drink .ui-icon, #chart .ui-icon {
  background: url('/images/glyphish/88-beer-mug.png') 50% 50% no-repeat;
  background-size: 24px 22px;
  width: 30px !important;
  height: 30px !important;
  box-shadow: none!important;
  border-radius: 0!important;
  margin-left: -15px !important;
}

#chart .ui-icon {
  background: url('/images/glyphish/77-ekg.png') 50% 50% no-repeat;
}
