
.iconOuterBorder {
	background-color: #5599bb;
	display: inline-block;
	padding: 5px;
	margin:2px;
}

.iconInnerBorder {
	padding: 5px;
	background-color: white;
}

.drinkIcon {
	width: 80px;
	height: 80px;
}